.main-container {
  background-color: black;
  display: grid;

  width: fit-content;
  font-family: "Courier New", Courier, monospace;
}

.typed {
  color: green;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 3s steps(37, end) forwards, blinking 1s 3s 1 forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: green;
  }
  100% {
    border-right-color: transparent;
  }
}
.blinking-cursor {
  font-family: "Courier New", Courier, monospace;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}
